<div class="updated notice supsystic-admin-notice is-dismissible">
	<h3>Hey, You know, now you can use Tables by Supsystic for WooCommerce. That’s awesome!</h3>
	<p>To do this, install Pro version - WooCommerce Product Table.
		This is perfect for online stores and commerce - more info <a href="https://supsystic.com/plugins/woocommerce-product-table/" target="_blank" >here</a>.</p>
	<p>Sure, if you don't need it - just skip and continue enjoy our software!</p>
	<p>
		<a class="button button-primary" href="https://supsystic.com/plugins/woocommerce-product-table/" target="_blank" data-response-code="hide" data-response-type="wooads">Yes, install it</a>
		<button class="button" href="#" data-response-code="later" data-response-type="wooads">Nope, maybe later</button>
		<button class="button" href="#" data-response-code="done" data-response-type="wooads">I already did</button>
	</p>
</div>