<!-- Don't remove this header. It's required to fix the "admin_notices" position bug. -->
<h2></h2>

<!-- Plugin wrapper -->
<div class="wrapper">
    {% spaceless %}
        {% block layout %}{% endblock %}
    {% endspaceless %}
</div>
